@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: 'Montserrat', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  accent-color: #101010;
}

body {
  width: 100%;
  height: 100%;
}

main {
  width: 100%;
  height: 100%;
}

.register-container {
  width: 100%;
  height: 100vh;
  display: flex;
  background: linear-gradient(
    180deg,
    #131313 40%,
    rgb(220, 135, 7) 100%
  );
}

.section-info {
  position: relative;
  width: 50%;
  height: 100%;

  color: white;

  padding: 130px 80px;

  & h1 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 5px;
  }

  & p {
    font-size: 19px;
  }

  & .info {
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & article {
      width: 400px;
      padding: 10px;
      border-radius: 10px;
      background: #ffb700;
    }

    & .triangle {
      /* Polygon 2 */

      width: 42px;
      height: 42px;
      border-style: solid;
      border-width: 0px 20px 20px 20px;
      border-color: transparent transparent #ffb700 transparent;
      transform: rotate(-180deg);
    }

    & .group-elipses {
      position: relative;
      width: 40px;
      height: 40px;
      margin-top: -30px;

      & .elipse1,
      .elipse2,
      .elipse3 {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
      }

      & .elipse1 {
        /* Ellipse 1 */
        position: absolute;
        width: 10px;
        height: 10px;
        z-index: 3;
        border-radius: 50%;
        background: #ffb700;
      }
      & .elipse2 {
        /* Ellipse 2 */
        position: absolute;
        width: 20px;
        height: 20px;
        z-index: 2;
        border-radius: 50%;
        background: #ffb700;
      }
      & .elipse3 {
        /* Ellipse 3 */
        position: absolute;

        width: 30px;
        height: 30px;
        z-index: 1;
        border-radius: 50%;
        background: #ff007b3c;
        transition: all 0.3s ease-in-out;
      }

      & .elipse1:hover + .elipse2 + .elipse3 {
        background: #ffb700;
        box-shadow: 0px 0px 10px #ffb700;
      }
    }
  }

  & svg {
    position: absolute;
    top: 0;
    left: -90px;
    z-index: 1;
  }
}

.section-form {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 2;
  font-weight: 500;

  & .register-form {
    width: 70%;
    height: 70%;
    background: white;
    padding: 30px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    font-size: 13px;

    & h3 {
      font-size: 15px;
    }

    & .input-text {
      width: 100%;
      height: 40px;
      border: 1px solid rgba(0, 0, 0, 0.238);
      border-radius: 10px;
      padding: 10px;

      &::placeholder {
        color: rgb(0, 0, 0);
      }
    }

    & .method-content {
      display: flex;
      flex-direction: column;
      gap: 10px;
      color: rgb(0, 0, 0);

      & .radio-group {
        display: flex;
        gap: 30px;

        & aside {
          display: flex;
          align-items: center;
          gap: 10px;

          & input {
            position: relative;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            appearance: none;
            border: 1px solid #00000049;
            cursor: pointer;
          }

          & input:checked::after {
            content: '';
            position: absolute;
            inset: 0;
            width: 10px;
            height: 10px;
            margin: auto;
            border-radius: 9999px;
            background: #ffbf00;
          }
        }
      }
    }

    & textarea {
      width: 100%;
      border-radius: 10px;
      padding: 10px;
      resize: none;
      border: 1px solid rgba(0, 0, 0, 0.324);
      &::placeholder {
        color: rgb(98, 98, 98);
      }
    }

    & button {
      width: 100%;
      height: 40px;
      border-radius: 30px;
      padding: 10px;
      background: #ffb700;
      color: white;
      margin-top: 80px;
      font-size: 14px;
      transition: all 0.3s ease-in-out;
    }

    & button:hover {
      background: #ffb700;
    }

    & button:active {
      transform: translateY(2px);
    }
  }
}
